<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/static/recommendations.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

            <!-- Google Fonts -->
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&family=Poppins:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Radley:ital@0;1&family=Ubuntu&display=swap" rel="stylesheet">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap" rel="stylesheet">
        
            <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/sign-in/">
        
            <!-- Bootstrap-Css and Js -->
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
            
             <!-- Font Awesome -->
             <script src="https://kit.fontawesome.com/80eec79ac7.js" crossorigin="anonymous"></script>
            <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

              <!-- Vendor CSS Files -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/vendor/simple-datatables/style.css" rel="stylesheet">

  <link rel="stylesheet" href="/static/home-2.css">
    <link rel="stylesheet" href="/static/style.css">
    
    <link rel="stylesheet" href="/static/recommendations.css">
    <title>Recommendations</title>



</head>
<body>
    <div class="top"></div>
    <img src="/static/images/recommendations.jpg" alt="" class="top-img">
    <header id="header" class="header fixed-top d-flex align-items-center container">

        <div class="d-flex align-items-center justify-content-between">
          <a href="index.html" class="logo d-flex align-items-center">
            <img src="/static/images/logo.png" alt="">
            <span class="d-none d-lg-block">LitLounge</span>
          </a>
        </div><!-- End Logo -->
    
        <div class="search-bar">
          <form action="/search" class="search-form d-flex align-items-center" method="POST" role="search">
            <input type="text" name="search_text" placeholder="Search" title="Enter search keyword">
            <button type="submit" title="Search"><i class="fa-solid fa-magnifying-glass"></i></button>
          </form>
        </div><!-- End Search Bar -->
    
        <nav class="header-nav ms-auto">
          <ul class="d-flex align-items-center">
    
            <li class="nav-item d-block d-lg-none">
              <a class="nav-link nav-icon search-bar-toggle " href="#">
                <i class="fa-solid fa-magnifying-glass" style="color:white"></i>
              </a>
            </li><!-- End Search Icon-->
    
           </ul>
           <nav id="navbar" class="navbar">
            <ul>

             <li><a class="nav-link scrollto" href="/home">Home</a></li> </a>

              <li><a class="nav-link scrollto" href="">My Account</a></li>
              
              <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
          </nav><!-- .navbar -->
        </nav><!-- End Icons Navigation -->
    
      </header><!-- End Header -->


        


    <div class="container">
        
        

    <div class="row">
        {% if booksinput==[] %}
        <div class="apologies" style= "colour:sandybrown"> <br>
        <p> Apologies! Unfortunately, there are no results matching your search. Feel free to contact us and we will try to take care of it! </p>
        </br> </div>
        {% else %}
      
             {% for book in booksinput %}
             <div class="card col-lg-3 col-sm-1">
                <img src="{{book['imageUrl']}}" alt="">
                <a href = "/overview/{{book['id']}}"><div class="card-body">
                    <h3>{{book['title']}}</h3>
                    <p class="book-desc">By {{book['author']}}</p>
                    <div class="like">
                        <i class="fa-regular fa-heart" style="color: #6d5b54;"></i>
                        <span style="color: #6d5b54;">{{book['likes']}}</span>
                    </div>
                </div> </a>
            </div>

            {% endfor %}
          {% endif %}

        <!-- <div class="card" style="width: 18rem;">
            <img src="images/hot picks/lf (1) (1).jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div> -->

        </div>
    </div>
    <div class="bottom"></div>
    <footer>
        <div class="footer">
            <a href="" class="footer-link"><h2>Contact Us</h2></a>
            <div class="links">
                <p>Follow us on</p>
                <a href=""><i class="fa-brands fa-facebook follow" style="color: #60514b;"></i></a>
                <a href=""><i class="fa-brands fa-square-instagram follow" style="color: #60514b;"></i></a>
                <a href=""><i class="fa-brands fa-twitter follow" style="color: #60514b;"></i></a>
                <a href=""><i class="fa-brands fa-linkedin follow" style="color: #60514b;"></i></a>
                <a href=""><i class="fa-brands fa-pinterest follow" style="color: #60514b;"></i></a>
            </div>
            
        </div>
    </footer>

      <!-- Vendor JS Files -->
  <script src="/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/chart.js/chart.umd.js"></script>
 <script src="/vendor/echarts/echarts.min.js"></script>
 <script src="/vendor/quill/quill.min.js"></script> 
   <script src="/vendor/simple-datatables/simple-datatables.js"></script> 
   <script src="/vendor/tinymce/tinymce.min.js"></script> 
   <script src="/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/js/main.js"></script>

  <script src="/js-home/main.js"></script>
</body>
</html>